<div class="login-container">
  <div class="login-box">
    <h2>{{ login ? "Login(Reactive)" : "Signup(Reactive)" }}</h2>
    <form action="#" method="post" [formGroup]="form">
      <div class="input-group">
        <label for="username">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Email"
          formControlName="email"
        />

        <p
          class="errors"
          *ngIf="
            form.get('email')?.hasError('required') &&
            form.get('email')?.touched
          "
        >
          Email is mandatory for filling in the form
        </p>

        <p
          class="errors"
          *ngIf="
            form.get('email')?.hasError('email') && form.get('email')?.touched
          "
        >
          This is not a valid email
        </p>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
        <p
          *ngIf="
            form.get('password')?.hasError('required') &&
            form.get('password')?.touched
          "
          class="errors"
        >
          Password is mandatory
        </p>
        <p
          *ngIf="
            form.get('password')?.touched &&
            form.get('password')?.dirty &&
            form.get('password')?.value.length > 0 &&
            form.get('password')?.value.length < 6
          "
          class="errors"
        >
          Password is must be at least 6 characters long and yours have
          {{ form.get("password")?.value.length }}
        </p>
      </div>
      <div *ngIf="!login" class="input-group">
        <label for="firstName">First Name:</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          placeholder="First-Name"
          formControlName="firstName"
        />
        <p
          class="errors"
          *ngIf="
            form.get('firstName')?.touched &&
            form.get('firstName')?.hasError('required')
          "
        >
          You first name is mandatory
        </p>
        <p
          class="errors"
          *ngIf="
            form.get('firstName')?.dirty &&
            form.get('firstName')?.value.length < 2 &&
            form.get('firstName')?.value.length > 0
          "
        >
          First name must be at least 2 characters long
        </p>
      </div>
      <div *ngIf="!login" class="input-group">
        <label for="lastName">Last Name:</label>
        <input
          type="lastName"
          id="lastName"
          name="lastName"
          placeholder="Last-Name"
          formControlName="lastName"
        />

        <p
          class="errors"
          *ngIf="
            form.get('lastName')?.hasError('required') &&
            form.get('lastName')?.touched
          "
        >
          Last name is mandatory
        </p>
        <p
          class="errors"
          *ngIf="
            form.get('lastName')?.touched &&
            form.get('lastName')?.dirty &&
            form.get('lastName')?.value.length > 0 &&
            form.get('lastName')?.value.length < 2
          "
        >
          Last name must be at least 2 charachters long
        </p>
      </div>

      <div *ngIf="!login" class="input-group">
        <label for="address">Address:</label>
        <input
          type="address"
          id="address"
          name="address"
          placeholder="Address"
          formControlName="address"
        />
      </div>
      <div *ngIf="!login" class="input-group">
        <label for="zipcode">Zipcode:</label>
        <input
          type="zipcode"
          id="zipcode"
          name="zipcode"
          placeholder="Zipcode"
          formControlName="zipcode"
        />
      </div>
      <button
        [disabled]="!form.valid"
        type="submit"
        class="login-button"
        [ngStyle]="{
          'background-color': !form.valid ? 'gray' : 'blue',
          cursor: !form.valid ? 'not-allowed' : 'pointer'
        }"
        (click)="!login ? onSignup(form) : onLogin(form)"
      >
        {{ login ? "Login" : "Signup" }}
      </button>
      <p>{{ form.value | json }}</p>
      <p class="errors" *ngIf="userNotFound">User or Password are Incorrect</p>
      <p class="signup-text">
        {{ login ? "Don't have an account?" : "Already have an account?" }}
        <a (click)="onChange()">{{ login ? "Signup here" : "Login here" }}</a>
      </p>
    </form>
  </div>
</div>
