<div class="header-container">
  <div class="logo-container">
    <img src="/barcelona-logo.avif" alt="FC barcelona Logo" />
  </div>
  <div class="title-container">
    <h1>Mes Que un club - More Then Just A Football Club</h1>
  </div>
  <div class="nav-container">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/info">Info</a></li>
      <li *ngIf="isLoggedin"><a routerLink="/favorites">Favorites</a></li>
      <li *ngIf="!isLoggedin && !isSignup">
        <a routerLink="/login-signup">Login</a>
      </li>
      <li *ngIf="!isLoggedin && isSignup">
        <a routerLink="/login-signup">Signup</a>
      </li>
      <li class="signout" *ngIf="isLoggedin">
        <a (click)="onSignout()">Signout</a>
      </li>
    </ul>
  </div>
</div>
