<div class="add-player-form">
  <h2>Add Player</h2>
  <form>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" />

    <label for="country">Country</label>
    <input type="text" id="country" name="country" [(ngModel)]="country" />

    <label for="shirtNumber">Shirt Number</label>
    <input
      type="number"
      id="shirtNumber"
      name="shirtNumber"
      [(ngModel)]="shirtNumber"
    />

    <label for="position">Position</label>
    <input type="text" id="position" name="position" [(ngModel)]="position" />

    <button type="submit" (click)="onAddPlayer()">Add Player</button>
  </form>
</div>
